# Secullum API Credentials
SECULLUM_USERNAME=hmtower@hmtower.com.br
SECULLUM_PASSWORD=ZS2hw@jaqJUAAC5

# Supabase Configuration
# DATABASE_URL: Use the Pooler connection string (port 6543) for best compatibility.
DATABASE_URL=postgresql://postgres.lqsiahzrscxckuwrezxy:[YOUR-PASSWORD]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?sslmode=require
# VITE_SUPABASE_URL: A Project URL (https://xyz.supabase.co)
VITE_SUPABASE_URL=https://xyz.supabase.co
# VITE_SUPABASE_ANON_KEY: A API 'anon' key (public)
VITE_SUPABASE_ANON_KEY=
